<main>
    <canvas></canvas>
    <app-header></app-header>
    <div id="column-center" class="center-container">
        <div class="column">
            <div class="align-left-container">
                <p id="mission">
                    Santa Clara University IEEE!
                </p>
            </div>
            <div class="align-left-container">
                <p id="about">
                    LOL
                </p>
            </div>
        </div>
    </div>
    <div id="newsletter-section" class="center-container">
        <div id="newsletter-flex">
            <p>
                subscribe to our newsletter!
            </p>
            <p>It's the best way to connect with us</p>
            <button>subscribe-></button>
        </div>
    </div>
</main>