<main>
    <canvas></canvas>
    <app-header></app-header>
    <div id="column-center" class="center-container">
        <div class="column">
            <div class="align-left-container">
                <p id="mission">
                    Mission tagline Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
            </div>
            <div class="align-left-container">
                <p id="about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet, tempore nam corrupti quos
                    voluptates vero! Voluptatibus vel dolor dolores molestiae ducimus sunt, hic quod minima porro vero
                    iusto quia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum deserunt molestiae
                    adipisci facere itaque perferendis laboriosam voluptates quisquam veniam dolorem quis, tempora
                    temporibus obcaecati dicta dolores ipsumx deleniti, ratione vitae.
                </p>
            </div>
        </div>
    </div>
    <div id="newsletter-section" class="center-container">
        <div id="newsletter-flex">
            <p>
                subscribe to our newsletter!
            </p>
            <p>It's the best way to connect with us</p>
            <button>subscribe-></button>
        </div>
    </div>
</main>